* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.menu {
    display: flex;
    background-color: #674582;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 32px;
}
.menu__itens {
    display: flex;
    list-style: none;
}
.menu__link {
    text-decoration: none;
    padding: 7px;
    color: #fff;
}

.menu__logo {
    width: 249px;
    height: 69px;
}

.header {
    background-image: url(../img/bg-banner-claro.png);
    background-size: cover;
    height: 100vh;
    margin-top: -1px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;

}

.banner {
    width: 74%;
    margin: 0 auto;
}

.banner__titulo {
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
}

.banner__subtitulo {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 37px;
}

.banner__botao {
    text-decoration: none;
    background-color: #C083B9;
    padding: 1.2rem 2.9rem;
    border-radius: 0.7rem;
    color: #fff;
    font-size: 36px;
    font-weight: 625;
    text-transform: uppercase;
}

.artigo-mulheres {
    width: 74%;
    margin: 0 auto;
}

.artigo-mulheres__titulo {
    font-family:'Roboto Slab', 'Arial, Helvetica, sans-serif';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #63458A;
    padding-top: 10%;
}
.personalidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

}

.personalidades__perfil {
    padding: 5%;
}

.personalidades__foto {
    width: 201px;
    background-color: #674582;
    border-radius: 10px;
}

.menu--dark {
    display: flex;
    background-color: #323534;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 53px;
}

.menu__itens--block {
    display: block;
    text-align: center;
}

.menu__logo--fb {
    width: 25px;
    height:  45px;
}

.footer__copyright {
    background-color: #292A2A;
    width: 100%;
    padding: 13px;
    text-align: center;
    font-size: 14px;
    color: white;
}

@media (max-width: 1024px) {
    .banner__botao {
        padding: 20px 10px;
        border-radius: 4px;
        font-size: 22px;
    }

}
/*PÁGINA PERSONALIDADE*/

.header-rita-lee{
    background-image: url(../img/rita-lee.jpg);
    background-size: cover;
    height: 100vh;
    margin-top: -1px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;

}

.banner__titulo--rita-lee {
    color:#fff;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.principal {
    width: 74%;
    margin: 0 auto;
    color: #63458A;
}

.introducao__imagem {
    width: 20%;
    height: 18%;
    /* max-width: 200px;
    max-height: 220px; */
    margin-right: 12%;
    padding-bottom: 5%;
}

.introducao__sobre {
    display: flex;
    align-items: center;
}

.introducao__titulo {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%
}

.introducao__citacao {
    border: 1px solid black;
    width: 100%;
    padding: 5%;
    text-align: center;
    font-weight: bold;
}

.resumo {
    padding-top: 5%;
    text-align: justify;
}

.resumo__titulo {
    padding-bottom: 2%;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.resumo__imagem {
    padding-top: 2%;
    width: 70%;
}
